.card {
  display: flex;
  padding: 1em;
  gap: 1.5em;

  &__img {
    display: block;
    flex-basis: (100% * 1/3);

    img {
      object-fit: cover;
      width: 100%;
      height: 7rem;
      border-radius: 0.7rem;
    }
  }

  &__content {
    flex: 1 0 (100% * 2/3);
  }
}
