@use '../variables' as *;

header {
	position: fixed;
	top: 0;
	width: 100%;
  // height: 50vh;
	background-image: url('../img/hero.jpg');
	background-size: cover;
  background-repeat: no-repeat;
	color: rgb(255, 255, 255);
	z-index: 1000;
	overflow: hidden;
	transition: height 0.5s;
}

.header-box {
	width: 100%;
	margin: auto;
	padding: 6rem;
	text-align: center;
	transition: padding 0.3s;
}

.logo {
  object-fit: contain;
  position: relative;
  width: 20vw;
  height: 100%;
  transition: 0.5s;
  }
.smaller {
	padding: 0.5em;
}