.hero {
  display: flex;
  justify-content: center;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;

  .logo {
    object-fit: contain;
    width: 20vw;
    height: 100%;
  }
}
