@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/myriadpro-regular.otf") format("otf");
  src: url("../fonts/myriadpro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
