#myfavtitle {
  margin: 2em 1em;
  display: flex;
  align-items: center;
}

.close {
  margin: 2em 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.5em;
}

.favbox {
  display: flex;
  height: 100%;
  align-items: flex-start;
  position: relative;
}

.fav-btn {
  display: flex;
  height: 100%;
  z-index: 2;
  position: absolute;
  padding: 0.5rem;
}

.favheader {
  display: flex;
  justify-content: space-between;
}

@keyframes favme-anime {
  0% {
    opacity: 1;
    font-size: ms(0);
    -webkit-text-stroke-color: transparent;
  }
  25% {
    opacity: 0.6;
    color: #fff;
    font-size: ms(-2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #df0909;
  }
  75% {
    opacity: 0.6;
    color: #fff;
    font-size: ms(3);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #df0909;
  }
  100% {
    opacity: 1;
    font-size: ms(2);
    -webkit-text-stroke-color: transparent;
  }
}

@keyframes favme-hover {
  from {
    font-size: ms(3);
  }
  80% {
    font-size: ms(2);
  }
}

.favme {
  display: block;
  font-size: ms(2);
  width: auto;
  height: auto;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s ease;
  color: #cbcdce;
  margin: 0;

  &.active {
    color: #df0909;
  }
  &:hover {
    animation: favme-hover 0.3s infinite alternate;
  }
  &.is_animating {
    animation: favme-anime 0.3s;
  }
}
